
@font-face {
    font-family:"Plain-Light";
    src:url("Plain-Light.woff2") format("woff2"),url("Plain-Light.woff") format("woff"),url("Plain-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        